.search-bar-main-container {
    position: relative;
    width: 85%;
    aspect-ratio: 24;
    border-radius: 0.5vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #181920;
        padding: 1em;
        border: none;
        z-index: 0;
        font-size: 1rem;
        color: #fff;
        border: 1px solid #2e303d;
        border-radius: 0.5vw;
        outline: none;

    }

    .search-btn {
        position: absolute;
        width: 10%;
        height: 100%;
        // background-color: #1D1E28;
        background: transparent;
        color: #fff;
        // border: 5px solid #22232F;
        border: none;
        z-index: 1;
        right: 0;
        font-size: 1.2rem;
        cursor: pointer;
    }

   
}